*{
  margin:0px;
  padding:0px;
}
a{
  text-decoration: none;
}
.container{
  width:100%;
  margin:0 auto;
}
.container2{
  width:80%;
  margin:0 auto;
}

header{
  height:65px;
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 10;
  background-color: rgba( 34, 110, 52, 0.7);
}
.header-logo{
  float:left;
  margin-left: 10px;
}
.logo{
  width: 180px;
  margin-top: 5px;
}

.top-wrapper {
  padding: 330px 0 250px 0;
  background-image: url(manual.back.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  text-align: center;
}
.top-wrapper h1 {
  color:white;
  opacity: 0.8;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px #808080;
}

.main-wrapper {
  margin-top: 20px;
}


@media screen and (max-width:1000px) {
  .top-wrapper{
  padding: 130px 0 100px 0;
  }
  .top-wrapper h1 {
    font-size: 25px;
  }
}


@media screen and (max-width:670px) {
  .top-wrapper h1 {
    font-size: 14px;
  }
}
