@media screen and (max-width:1000px) {
  .top-wrapper{
  padding: 130px 0 130px 0;
  }
  .top-wrapper h1 {
    font-size: 25px;
  }
}


@media screen and (max-width:670px) {
  .top-wrapper h1 {
    font-size: 17px;
  }
}
