*{
  margin:0px;
  padding:0px;
}
a{
  text-decoration: none;
}
.container{
  width:100%;
  margin:0 auto;
}

header{
  height:65px;
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 10;
  background-color: rgba( 34, 110, 52, 0.7);
}
.header-logo{
  float:left;
  margin-left: 10px;
}
.logo{
  width: 180px;
  margin-top: 5px;
}
.header-list{
  float: right;
  height: 65px;
}

.header-list a{
  font-weight: bold;
  line-height: 65px;
  color:white;
  padding: 0 10px;
  margin: 0 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
}
.header-list a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper {
  padding: 330px 0 250px 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  text-align: center;
}
.top-wrapper h1 {
  color:white;
  opacity: 0.8;
  font-size: 60px;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px #808080;
}
.top-wrapper p {
  color:white;
  opacity: 0.8;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px #808080;
  margin-top: 30px;
}

footer{
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eee;
}
.footer-logo{
  float: left;
}
.footer-logo img{
  width:100px;
  margin-left: 10px;
}
.footer-address {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 30px;
}

@media screen and (max-width:1000px) {
  .header-list a{
    font-size: 11px;
  }
  .top-wrapper{
  padding: 130px 0 130px 0;
  }
  .top-wrapper h1 {
    font-size: 35px;
  }
  .top-wrapper p {
    font-size: 18px;
  }
   .footer-address {
    margin-right: 30px;
  }

}


@media screen and (max-width:670px) {
  .header-list a{
    font-size: 4px;
    height:40px;
    line-height: 40px;
  }
  .header-list{
    height:40px;
  }
  .logo {
    width:60px;
  }
  header {
    height:40px;
  }
  .top-wrapper h1 {
    font-size: 18px;
  }
  .top-wrapper p {
    font-size: 10px;
  }
  
footer{
    text-align: center;
  }
  .footer-logo{
    float: none;
  }

}
